<section class="login-container">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Login
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form class="login-form" (submit)="loginSubmit()">
                <label class="error-message">{{ submitMessage }}</label>
                <mat-form-field>
                    <input class="username" matInput placeholder="Username" [formControl]="username">
                    <mat-error *ngIf="username.invalid">{{ getuserNameErrorMessage() }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input class="password" matInput type="password" placeholder="Password" [formControl]="password">
                    <mat-error *ngIf="password.invalid">{{ getPasswordErrorMessage() }}</mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary">Submit</button>
            </form>
        </mat-expansion-panel>
</section>